 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
 }

 /* header */

 header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 18%;
    border-bottom: 1px solid rgba(219, 219, 219, 219);
    background-color: white;
 }

 header.logo {
    height: 29px;
 }

 header.logo img {
    height: 100%;
    object-fit: contain;

 }

 z header.search-box {
    width: 250px;
    background-color: rgba(239, 239, 239, 1);
    padding: 3px 16px;
    display: flex;
    align-items: center;
    border-radius: 8px;
 }

 header-search-box input {
    height: 30px;
    border: none;
    outline: none;
    background-color: rgba(239, 239, 239, 1);
    padding-left: 10ox;
    font-size: 15px;
    color:#8e8e8e;
      
 }
 header nav u1  {
   list-style: none;
   display:flex;
 }
 header nav u1 li a i{
   font-size: 22px;
   color:rgba(38, 38, 38, 1)
    
 }
 header nav u1 li{
   margin-right:20px; 
 }
 header nav u1 li : :last-child{
   margin-right:0; 

 }
 header nav u1 li a img{
   width:22px;
   height:22px;
   border-redius: 50%;
   object-fit:cover;

 }
 header nav u1 li a i{
   font-size: 22px;
   color:rgba(38, 38, 38, 1);
    
 }
    /*boby section*/

    section{
      padding: 30px 18%;
      background-color:    #fafafa;
      display: flex;

    }
    .left-side{
      width: 65%;
    } 

.story {
  display: flex;
  
  padding:16px;
  background-color: white;
  border: 1px solid rgba(219, 219, 219, 1);
  border-radius: 3px;
}
.story .stories{
  width: 17%;


}
.story .stories a img{

  border-radius: 50%;
  border: 2px solid #c62d8f;
}

 


    .right-side{
      width:35%;

    }